* {
    margin: 0;
    box-sizing: border-box;
    padding:0;
}

#background {
    background-color: black;
    position:relative;
    width:100%;
    height:120vh;
}

#game-floor {
    background-image: linear-gradient(red, orange 50%, yellow 80%);
    position: absolute;
    width:100%;
    height:40vh;
    top:80vh;
}