* {
    margin: 0;
    box-sizing: border-box;
    padding:0;
}

#background {
    background-color: black;
    position:relative;
    width:100%;
    height:120vh;
}

#game-floor {
    background-image: linear-gradient(red, orange 50%, yellow 80%);
    position: absolute;
    width:100%;
    height:40vh;
    top:80vh;
}

#base {
    width:400px;
    height: 100px;
    position:absolute;
    top: -100px;
    left: 50%;
    margin-left: -200px;
}

.child {
    width: 100px;
    height:100%;
    display:inline-block;
    border: solid black 1px;
    background-color: yellow;
}

@media only screen and (max-width: 768px) {
    #base {
        width:140px;
        height: 30px;
        top:-30px;
        margin-left: -70px;
    }

    .child {
        width: 30px;
    }
}

#left-border {
    position:absolute;
    left:0;
    top:0;
    height: 80vh;
    background-color: rgb(199, 73, 73);
}

#right-border {
    position:absolute;
    right:0;
    top:0;
    height: 80vh;
    background-color: rgb(199, 73, 73);
}

#test-blocks {
    position: absolute;
    top: 100px;
}