* {
    margin: 0;
    box-sizing: border-box;
    padding:0;
}

#background {
    background-color: rgb(132, 26, 3);
    position:relative;
    width:100%;
    height:120vh;
}

#nav-bar {
    background-color: blue;
    position:absolute;
    width: 100%;
    height:15vh;
    top:-15vh;
    left:0;
    border: 3px solid white;
}

#game-floor {
    background-image: linear-gradient(red, orange 40%, yellow 80%);
    position: absolute;
    width:100%;
    height:35vh;
    top:85vh;
}

#base {
    width:240px;
    height: 60px;
    position:absolute;
    top: -60px;
}

#first-platform {
    width: 300px;
    height:100px;
    position:absolute;
    top: -200px;
}

.child {
    width: 60px;
    height:100%;
    display:inline-block;
    border: solid black 1px;
    background-color: yellow;
}

.title-text {
    color: rgb(255, 255, 0);
    font-family: 'Bruno Ace SC', cursive;
    font-size: 68px;
    margin-right: 3px;
    text-align: center;
}

#slide-n-stack {
    position:absolute;
    top:42vh;
    left: 50%;
    width: 80%;
    margin-left: -40%;
    text-align: center;
}

#icon-container {
    position:absolute;
    top:55vh;
    left:34%;
    width:33%;
    height: 100px;
    display:flex;
}

#play-container {
    
    background: none;
    text-align:center; 
    width:24%;
    margin-left:7%;
    margin-right:7%;
}

#play-button-start {

    font-size:70px;
    cursor: pointer;
 
}

#instructions-start {
    
    font-size:70px;
    cursor:pointer;
}

#instructions-container {
    /*position: absolute;
    right: 10%;
    height:fit-content;
    width: 20%; */
    background: none;
    text-align:center;
    width:24%;
    margin-left:7%;

}

#leaderboard-container {
    /*position: absolute;
    left: 8%;
    margin-right: 12%; */
    height:fit-content;
    width: 24%;
    background: none;
    text-align:center;
    margin-right:7%;
}

#leaderboard-start {
    font-size: 70px;
    cursor: pointer;
}

@media only screen and (max-width: 1660px) {
    #base {
        width : 240px;
        height: 60px;
        top:-60px;
    }

    .child {
        width: 60px;
    }
}

@media only screen and (max-width: 1256px) {
    #base {
        width:240px;
        height: 60px;
        top:-60px;
    }

    .child {
        width: 60px;
    }

    .title-text {
        font-size: 54px;
    }

    #play-button-start {
        font-size: 60px;
    }

    #instructions-start {
        font-size: 60px;
    }

    #leaderboard-start {
        font-size: 60px;
    }
}

@media only screen and (max-width: 768px) {
    #base {
        width:120px;
        height: 30px;
        top:-30px;
    }

    .child {
        width: 30px;
    }

    .title-text {
        font-size: 42px;
    }

    #play-button-start {
        font-size: 50px;
    }

    #instructions-start {
        font-size: 50px;
    }

    #leaderboard-start {
        font-size: 50px;
    }

    #icon-container {
        top: 60vh;
    }
}

@media only screen and (max-width: 510px) {
    #base {
        width:120px;
        height: 30px;
        top:-30px;
    }

    .child {
        width: 30px;
    }

    .title-text {
        font-size: 36px;
    }

    #play-button-start {
        font-size: 40px;
    }

    #instructions-start {
        font-size: 40px;
    }

    #leaderboard-start {
        font-size: 40px;
    }

    #icon-container {
        top: 60vh;
    }
}

#left-border {
    position:absolute;
    left:0;
    top:0;
    height: 85vh;
    background-color: black;
}

#right-border {
    position:absolute;
    right:0;
    top:0;
    height: 85vh;
    background-color: black;
}

#test-blocks {
    position: absolute;
    top: 100px;
}

#pause {
    position: absolute;
    top:10px;
    left:100px;
    padding:20px;
    color: red;
    border: black solid 3px;
    background-color: white;
}



