* {
    margin: 0;
    box-sizing: border-box;
    padding:0;
}

#background {
    background-image:linear-gradient(rgb(41, 11, 39), rgb(212, 46, 201) 20%);
    position:relative;
    width:100%;
    height:120vh;
    z-index: 0;
}

#nav-bar {
    background-color: black;
    position:absolute;
    width: 100%;
    height:15vh;
    top:-15vh;
    left:0;
    border: 3px solid white;
    z-index: 1;
}

#game-floor {
    background-image: linear-gradient(red, orange 40%, yellow 80%);
    position: absolute;
    width:100%;
    height:35vh;
    top:85vh;
}

#base {
    width:240px;
    height: 60px;
    position:absolute;
    top: -60px;
}

.child {
    width: 60px;
    height:100%;
    display:inline-block;
    border: solid black 1px;
    background-color: yellow;
    z-index: 8;
}

.title-text {
    color: rgb(255, 255, 0);
    font-family: 'Bruno Ace SC', cursive;
    font-size: 68px;
    margin-right: 3px;
    text-align: center;
    z-index: 3;
}

#slide-n-stack {
    position:absolute;
    top:42vh;
    left: 50%;
    width: 80%;
    margin-left: -40%;
    text-align: center;
    z-index: 2;
}

#icon-container {
    position:absolute;
    top:55vh;
    left:34%;
    width:33%;
    height: 100px;
    display:flex;
    z-index: 2;
}

#icon-container-game {
    width: 30%;
    height: 15vh;
    position: absolute;
    right:-25%;
    top:20vh;
    transition: .5s;
    z-index: 8;
    text-align: right;
}

#icon-container-game i {
    opacity: 0;
    font-size: 70px;
    margin: 0 20px;
    z-index:8;
    cursor: pointer;
}

#play-container {
    
    background: none;
    text-align:center; 
    width:24%;
    margin-left:7%;
    margin-right:7%;
    z-index: 3;
}

#play-button-start {

    font-size:70px;
    cursor: pointer;
    z-index: 4;
}

#instructions-start {
    
    font-size:70px;
    cursor:pointer;
    z-index: 4;
}

#instructions-container {
    
    background: none;
    text-align:center;
    width:24%;
    margin-left:7%;
    z-index: 3;

}

#leaderboard-container {
    
    height:fit-content;
    width: 24%;
    background: none;
    text-align:center;
    margin-right:7%;
    z-index: 3;
}

#leaderboard-start {
    font-size: 70px;
    cursor: pointer;
    z-index: 4;
}

#instructions {
    background-color: black;
    width: 50%;
    height: 0;
    position: absolute;
    left:50%;
    margin-left: -25%;
    top:20vh;
    transition: .5s;
    z-index: 10;
    border: 0px solid black;
    border-radius: 15px;
}

#textBox {
    background-color: #fb2525;
    height: 90%;
    width: 95%;
    position: absolute;
    left: 2.5%;
    top:5%;
    border-radius: 15px;
    text-align: center;
    overflow-y: hidden;
}

#instructionX {
    position: absolute;
    right:0;
    margin-right: 5%;
    margin-top: 3%;
    font-size: 42px;
    opacity: 0;
}

#instructionX:hover {
    font-size: 46px;
}

#textBox h1 {
    margin-top: 5%;
    font-size: 36px;
    opacity: 0;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Bruno Ace SC', cursive;
    color: yellow;
}

#textBox p {
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 24px;
    opacity: 0;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Bruno Ace SC', cursive;
    color: yellow;
}

#score-container {
    width: 50%;
    height: 100px;
    position: absolute;
    left:-25%;
    top:20vh;
    transition: .5s;
    z-index: 8;
}

#score-container h1 {
    opacity: 0;
    font-size: 42px;
    color: yellow;
    font-family: 'Bruno Ace SC';
    width: fit-content;
    overflow: visible;
}

#score-info {
    font-size: 14px;
    margin: 7px;
    position: absolute;
    top: 0;
}

#score-info:hover {
    font-size: 16px;
    margin-left: 6px;
    margin-top: 6px;
}

#new-high-score {
    position: absolute;
    top: 30vh;
    left: 50%;
    width: 500px;
    margin-left: -250px;
    text-align: center;
    z-index: 9;
}

#new-high-score h1 {
    color: white;
    font-family: "Bruno Ace SC", cursive;
    opacity: 0;
    transition: 1s ease-in-out;
    font-size: 60px;
    
}

#leaderboard {
    background-color: black;
    width: 50%;
    height: 0;
    position: absolute;
    left:50%;
    margin-left: -25%;
    top:20vh;
    transition: .5s;
    z-index: 10;
    border: 0px solid yellow;
    border-radius: 15px;
    text-align: center;
    overflow-y: hidden;
    overflow-x:hidden;
}

#leaderboardX {
    position: absolute;
    right:0;
    margin-right: 5%;
    margin-top: 3%;
    font-size: 42px;
    opacity: 0;
}

#leaderboardX:hover {
    font-size: 46px;
}

#leaderboard-title {
    margin-top: 4%;
    font-size: 28px;
    opacity: 0;
    margin-left: 5%;
    margin-right: 5%;
    font-family: 'Bruno Ace SC', cursive;
    color: yellow;
}

#top-scores {
    background-color: #fb2525;
    height: 60%;
    width: 90%;
    position: absolute;
    left: 5%;
    top:20%;
    text-align: center;
    overflow-y: auto;
    overflow-x: none;
    display:block;
}

.leaderboard-stats-container {
    width: 100%;
    height: fit-content;
    display:flex;
    align-items: center;
    justify-content: center;  
    margin-top: 5px;
}

.leaderboard-stats-container div {
    border: 2px solid yellow;
    text-align:center;
    display: table-cell;
    vertical-align: middle;
    height: 80%;
    font-family: 'Bruno Ace SC', cursive;
    font-size: 20px;
    color: yellow;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: hidden;
}

.leaderboard-stats-container div:nth-child(1) {
    border-right: 0px;
    width: 12.5%;
}

.leaderboard-stats-container div:nth-child(2) {
    border-right: 0px;
    width: 40%;
}

.leaderboard-stats-container div:nth-child(3) {
    border-right: 0px;
    width: 12.5%;
}

.leaderboard-stats-container div:nth-child(4) {
    width: 34.5%;
}

#login-portal {
    width: 400px;
    margin-left: -200px;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 200%;
    transition: .4s;
    z-index: 10;
    border: 2px solid yellow;
    background-color: black;
    border-radius: 15px;
    padding: 50px 30px;
    overflow-y: auto;
    scrollbar-width: none; 
}

 #login-portal::-webkit-scrollbar {
    display:none;
}

#login-portal h1 {
    color: white;
    font-family: "Bruno Ace SC", cursive;
    padding-bottom: 10px;
    text-align: center;
    font-size: 28px;
}

#login-portal p {
    color: white;
    font-family: "Bruno Ace SC", cursive;
    font-size: 14px;
    margin: 5px;
}

#login-portal a {
    color: yellow;
    font-family: "Bruno Ace SC", cursive;
    font-size: 14px;
    text-decoration: none;
}

#login-username {
    margin-top: 10px;
}

#login-portal input[type="text"], input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    z-index: 1000;
    width: 100%;
    margin-bottom: 20px;
    font-family: "Bruno Ace SC", cursive;
}

#login-portal input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 20px;
    font-family: "Bruno Ace SC", cursive;
}

#login-button-container {
    border: 2px solid white;
    position: absolute;
    top: 85%;
    width: 90%;
    left: 5%;
    height: 10%;
}

#login-button-container p {
    color: white;
    font-family: "Bruno Ace SC", cursive;
    position:absolute;
    top: 50%;
    transform: translate(0px, -50%);
    width: 100%;
}

#login-button-container a {
    text-decoration: none;
    color: yellow;
}

#register-portal {
    width: 400px;
    margin-left: -200px;
    height: 90%;
    position: absolute;
    top: 5%;
    left: -100%;
    transition: .4s;
    z-index: 10;
    border: 2px solid yellow;
    background-color: black;
    border-radius: 15px;
    padding: 50px 30px;
    overflow-y: auto;
    scrollbar-width: none; 
}

#register-portal::-webkit-scrollbar {
    display:none;
}

#register-portal h1 {
    color: white;
    font-family: "Bruno Ace SC", cursive;
    padding-bottom: 10px;
    text-align: center;
    font-size: 28px;
}

#register-portal p {
    color: white;
    font-family: "Bruno Ace SC", cursive;
    font-size: 14px;
    margin: 5px;
}

#register-portal a {
    color: yellow;
    font-family: "Bruno Ace SC", cursive;
    font-size: 14px;
    text-decoration: none;
}

#register-portal input[type="text"], input[type="password"], input[type="email"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    z-index: 1000;
    width: 100%;
    margin-bottom: 15px;
    font-family: "Bruno Ace SC", cursive;
}

#register-portal input::placeholder {
    font-size: 16px;
}

#register-portal input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 15px;
    font-family: "Bruno Ace SC", cursive;
}

.checkbox {
    color: white;
    font-family: 'Bruno Ace SC', cursive;
    font-size: 16px;
    accent-color: #fb2525;
}

.checkbox input {
    background: transparent;
    border: 1px solid white;
    cursor: pointer;
    margin-top: 10px;
}

.game-over-text {
    font-size: 64px;
    color: yellow;
    font-family: 'Bruno Ace SC', cursive;
    padding: 20px;
    text-align: center;
}

.game-over-sub-text {
    font-size: 42px;
    color: yellow;
    font-family: 'Bruno Ace SC', cursive;
    padding: 10px;
    text-align: center;
    opacity: 0;
    transition: 1s;
}

#leaderboard-text-game-over:hover {
    font-size: 46px;
}

#play-again-text:hover {
    font-size: 46px;
    padding: 25px;
}

@media only screen and (max-width: 1660px) {
    #base {
        width : 240px;
        height: 60px;
        top:-60px;
    }

    .child {
        width: 60px;
    }

    #textBox h1 {
        font-size: 22px;
    }

    #textBox p {
        font-size: 16px;
    }
}

@media only screen and (max-width: 1256px),
        screen and (max-height: 1000px) {
    #base {
        width:240px;
        height: 60px;
        top:-60px;
    }

    .child {
        width: 60px;
    }

    .title-text {
        font-size: 54px;
    }

    #play-button-start {
        font-size: 60px;
    }

    #instructions-start {
        font-size: 60px;
    }

    #leaderboard-start {
        font-size: 60px;
    }

    #textBox h1 {
        font-size: 24px;
        margin-top: 10%;
    }

    #textBox p {
        font-size: 18px;
    }

    #score-container h1 {
        font-size: 36px;
    }

    #icon-container-game i {
        font-size: 50px;
        margin: 0 15px;
    }

    #new-high-score h1 {
        font-size: 50px;
    }

    .leaderboard-stats-container div {
        font-size: 15px;
    }

    #login-button-container p {
        font-size: 14px;
    }

    .game-over-text {
        font-size: 54px;
    }

    .game-over-sub-text {
        font-size: 36px;
    }

    #leaderboard-text-game-over:hover {
        font-size: 40px;
    }

    #play-again-text:hover {
        font-size: 40px;
    }

}

@media only screen and (max-width: 768px),
        screen and (max-height: 800px) {
    #base {
        width:160px;
        height: 40px;
        top:-40px;
    }

    .child {
        width: 40px;
    }

    .title-text {
        font-size: 42px;
    }

    #play-button-start {
        font-size: 50px;
    }

    #instructions-start {
        font-size: 50px;
    }

    #leaderboard-start {
        font-size: 50px;
    }

    #icon-container {
        top: 60vh;
    }

    #textBox h1 {
        font-size: 18px;
        margin-top: 15%;
    }

    #textBox p {
        font-size: 12px;
    }

    #score-container h1 {
        font-size: 24px;
    }

    #score-info {
        font-size: 12px;
        margin: 5px; 
    }
    
    #score-info:hover {
        font-size: 14px;
        margin-left: 4px;
        margin-top: 4px;
    }

    #instructionX {
        font-size:34px;
    }

    i#instructionX:hover {
        font-size: 38px;
    }

    #icon-container-game i {
        font-size: 36px;
        margin: 0 10px;
    }
    #new-high-score {
        width: 120px;
        margin-left:-60px;
    }
    #new-high-score h1 {
        font-size: 36px;
    }

    #leaderboard-title {
        font-size: 22px;
    }

    .leaderboard-stats-container div {
        font-size: 12px;
    }

    .leaderboard-stats-container {
        width: 150%;
        overflow-x: auto;
    }

    #leaderboardX {
        font-size: 30px;
    }

    #leaderboardX:hover {
        font-size: 38px;
    }

    #login-portal {
        width: 240px;
        margin-left: -120px;
    }

    #login-portal h1 {
        font-size: 24px;
    }

    #login-portal p {
        font-size: 14px;
    }

    #login-portal a {
        font-size: 14px;
    }

    #login-portal input[type="text"], input[type="password"] {
        font-size: 14px;
    }

    #login-portal input::placeholder {
        font-size: 16px;
    }

    #register-portal {
        width: 240px;
        margin-left: -120px;
    }

    #register-portal h1 {
        font-size: 24px;
    }

    #register-portal p {
        font-size: 14px;
    }

    #register-portal a {
        font-size: 14px;
    }

    #register-portal input[type="text"], input[type="password"] {
        font-size: 14px;
    }

    #register-portal input::placeholder {
        font-size: 14px;
    }

    #login-button-container p {
        font-size: 12px;
    }

    .game-over-text {
        font-size: 46px;
    }

    .game-over-sub-text {
        font-size: 24px;
    }

    #leaderboard-text-game-over:hover {
        font-size: 27px;
    }

    #play-again-text:hover {
        font-size: 27px;
    }

}

@media only screen and (max-width: 575px),
        screen and (max-height: 550px)  {
    #base {
        width:120px;
        height: 30px;
        top:-30px;
    }

    .child {
        width: 30px;
    }

    .title-text {
        font-size: 24px;
    }

    #play-button-start {
        font-size: 40px;
    }

    #instructions-start {
        font-size: 40px;
    }

    #leaderboard-start {
        font-size: 40px;
    }

    #icon-container {
        top: 60vh;
        width: 40%;
        left: 30%;
    }

    #instructionX {
        font-size:28px;
    }

    i#instructionX:hover {
        font-size: 32px;
    }

    #leaderboardX {
        font-size: 28px;
    }

    #leaderboardX:hover {
        font-size: 32px;
    }

    #leaderboard-title {
        margin-top: 10%;
        font-size: 18px;
    }

    #textBox h1 {
        margin-top: 20%;
        font-size: 14px;
    }

    #textBox p {
        font-size: 10px;
    }

    #score-container h1 {
        font-size: 20px;
    }

    #score-info {
        font-size: 10px;
        margin: 4px; 
    }
    
    #score-info:hover {
        font-size: 12px;
        margin-left: 3px;
        margin-top: 3px;
    }

    #icon-container-game i {
        font-size: 24px;
        margin: 0 6px;
    }

    #new-high-score h1 {
        font-size: 24px;
    }

    .leaderboard-stats-container div {
        font-size: 10px;
    }

    #login-portal {
        width: 200px;
        height: 100%;
        top: 0;
        margin-left: -100px;
    }

    #login-portal h1 {
        font-size: 20px;
    }

    #login-portal p {
        font-size: 12px;
    }

    #login-portal a {
        font-size: 12px;
    }

    #login-portal input[type="text"], input[type="password"] {
        font-size: 12px;
    }

    #login-portal input::placeholder {
        font-size: 12px;
    }

    #register-portal {
        width: 200px;
        height: 100%;
        top: 0;
        margin-left: -100px;
    }

    #register-portal h1 {
        font-size: 20px;
    }

    #register-portal p {
        font-size: 12px;
    }

    #register-portal a {
        font-size: 12px;
    }

    #register-portal input[type="text"], input[type="password"], input[type="email"] {
        font-size: 12px;
    }

    #register-portal input::placeholder {
        font-size: 12px;
    }

    #login-button-container p {
        font-size: 10px;
    }

    .game-over-text {
        font-size: 36px;
    }

    .game-over-sub-text {
        font-size: 18px;
    }

    #leaderboard-text-game-over:hover {
        font-size: 21px;
    }

    #play-again-text:hover {
        font-size: 21px;
    }

}
@media only screen and (max-width: 400px) {
    #base {
        width:80px;
        height: 20px;
        top:-20px;
    }

    .child {
        width: 20px;
    }

    .title-text {
        font-size: 20px;
    }

    #play-button-start {
        font-size: 24px;
    }

    #instructions-start {
        font-size: 24px;
    }

    #leaderboard-start {
        font-size: 24px;
    }

    #icon-container {
        top: 60vh;
        width: 50%;
        left: 25%;

    }

    #instructionX {
        font-size:20px;
    }

    i#instructionX:hover {
        font-size: 24px;
    }

    #leaderboardX {
        font-size: 20px;
    }

    #leaderboardX:hover {
        font-size: 24px;
    }

    #leaderboard-title {
        margin-top: 16%;
        font-size: 14px;
    }

    #textBox h1 {
        margin-top: 20%;
        font-size: 12px;
    }

    #textBox p {
        font-size: 8px;
    }

    #score-container h1 {
        font-size: 12px;
    }

    #score-info {
        font-size: 9px;
        margin: 4px; 
    }
    
    #score-info:hover {
        font-size: 10px;
        margin-left: 3px;
        margin-top: 3px;
    }

    #icon-container-game i {
        font-size: 16px;
        margin: 0 4px;
    }

    #new-high-score h1 {
        font-size: 18px;
    }

    #login-portal {
        width: 160px;
        height: 100%;
        top: 0;
        margin-left: -80px;
        left: 180%;
    }

    #login-portal h1 {
        font-size: 18px;
    }

    #login-portal p {
        font-size: 10px;
    }

    #login-portal a {
        font-size: 10px;
    }

    #login-portal input[type="text"], input[type="password"] {
        font-size: 9px;
    }

    #login-portal input::placeholder {
        font-size: 9px;
    }

    #register-portal {
        width: 160px;
        height: 100%;
        top: 0;
        margin-left: -80px;
    }

    #register-portal h1 {
        font-size: 18px;
    }

    #register-portal p {
        font-size: 10px;
    }

    #register-portal a {
        font-size: 10px;
    }

    #register-portal input[type="text"], input[type="password"], input[type="email"] {
        font-size: 9px;
    }

    #register-portal input::placeholder {
        font-size: 9px;
    }

    .leaderboard-stats-container div {
        font-size: 8px;
    }

    #login-button-container p {
        font-size: 8px;
    }

    .game-over-text {
        font-size: 28px;
    }

    .game-over-sub-text {
        font-size: 14px;
    }

    #leaderboard-text-game-over:hover {
        font-size: 17px;
    }

    #play-again-text:hover {
        font-size: 17px;
    }

}

#left-border {
    position:absolute;
    left:0;
    top:0;
    height: 85vh;
    background-color: black;
    border: none;
}

#right-border {
    position:absolute;
    right:0;
    top:0;
    height: 85vh;
    background-color: black;
    border: none;
}

#test-blocks {
    position: absolute;
    top: 100px;
}


